/*Global Styling*/


html {
font-family: 'Roboto', sans-serif;
}


/*Typography*/

h1{
    color: #fff;
    font-size: 4em;
    font-weight: 200;
    margin-left: 60px;
    line-height: 70px;
}

h3{
    font-size: 1.5em;
}

   a {
       text-decoration: underline;
       color: #411850;
} 




/*Navigation Styling*/

.header,
.site-nav ul {
  display: flex;
  flex-direction: column;
    position: relative;
}

.header-wrapper{
    align-content: center;
    padding:20px;
    margin-bottom: -42px;
}

.header:before{
    content: "";
    position: absolute;
    z-index: 1;
    top:30px;
    right:75%;
    border-top: 60px solid #fff;
    border-right: 70px solid transparent;
    width: 900px;
}

.header {

  max-width: 1200px;
  margin: 0 auto;
}

.logo {
    min-width: 200px;
    width: 200px;
}


.site-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.site-nav a {
  text-decoration: none;
  display: block;
  padding: 0 25px;
  color: #411850;
  font-size: 1em;
  border-bottom: 1px solid #999;
  transition: background-color .3s, color .3s;
}
.site-nav a:hover {
  color: rgba(115,42,129,.5);
}



@media only screen and (min-width: 500px) {
  .site-nav ul {
    flex-direction: row;
    justify-content: space-between;
  }
  .site-nav ul a {
    border-bottom: 0;
  }
}
@media only screen and (min-width: 700px) {
  .header {
    flex-direction: row;
  }

  .logo {
    margin-bottom: 0;
      z-index: 1;
  }

  .site-nav {
    margin-left: auto;
  }
}


/*Drop Menu Styling*/

nav > ul > li {
  position: relative;
 
}


ul.drop-menu {
    z-index:5;
    text-align: center;
    display: block;
  position: absolute;
  top: 100%;
  left: 0%;
  width: 120%;
  padding: 0;
}
ul.drop-menu li {
  background: #fff;
color: #411850;
    padding:10px 0;
    border-bottom: 2px solid #fafafa;
}
ul.drop-menu li:hover {
    background: #fafafa;
}
ul.drop-menu li:last-child {
  border-radius: 0px 0px 5px 5px;
}

ul.drop-menu li {
  display: none;
}

li:hover > ul.drop-menu li {
  display: block;
}




/*Hero Image*/
.hero{
    background-image: url('../img/masterstouch_bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top:80px;
    padding-bottom: 400px;
    position: relative;
    z-index: 0;
}

.hero:before{
    content: "";
    position: absolute;
    z-index: 0;
    bottom:-5px;
    right:0;
    margin: 0;
    border-bottom: 60px solid #fff;
    border-left: 70px solid transparent;
    width: 35%;
}

.btn-container{
    margin-top:15px;
}


.btn{
    text-decoration: none;
  margin-top:10px;  
    width: 150px;
display: inline-block;
  text-align: center;  padding: 12px;
    border-radius: 10px;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 400;
}
    

    .btn:hover {
      color: #fff !important;
      background:#411850;
      border: 3px solid #fff;

}

.outline{
    border:solid 3px #fff;
    color: #fff;
    
}

.white{
    background: #fff;
    border: solid 3px #fff;
    color: #BAA9BF;
    
}

.purple{
    background: #411850;
    border: solid 3px #fff;
    color: #fff;
}


/*Headlines Section*/

.headlines{
    text-align: center;
    margin-top:100px ;
    margin-bottom: 100px;
    padding: 0px 5px !important;
}

.icon{
    width:100px;
    height: 100px;
}
i{
    height:100px;
    width: 100px;
    font-size:80px;
    color: rgba(172,151,177,1);
}


/*Mission Statement*/

.mission{
    color: #fff;
    text-align: center;
    background:#411850;
    padding: 50px 0;
}

.mission h2{
    color: #fff;
}

.mission .btn-container{
    margin-top: 30px;
    margin-right
}

.mission .btn-container a:first-of-type{
    margin-right:1em;
}

.mission .btn.white{
  color: #411850;  
}
  

/*Testimonials*/
.testimonials{
    text-align: center;
    background-image:linear-gradient(rgba(65, 24, 80,.8), rgba(65, 24, 80,.8)), url('../img/printer.jpg');
    background-position: cover;
    background-position: center;
    color: #fff;
}

.blockquote{
    margin:120px 0 50px 0;
    line-height: 0px;
    font-size: 10em;
    text-align: center;
    opacity: 1;
}

.author{
    display: block;
    font-weight: 700;
}

.testimonials p{
    font-size: 1.2em;
    font-style: italic;
}



/*footer*/
footer{  
clear: both;
width:100%;
text-align: left;
margin: 50px 0px 50px 0px;
font-weight: bold ;
}

footer .logo{
    margin-bottom:10px;
}

footer p{
    color:#444;
    font-size:.8em;
    margin-left: 10px;
}

.social-icons i{
    text-align: center;
    font-size: 1.5em;
    line-height: 50px;
    color:#fff;
    width:50px;
    height:50px;
    background:#BAA9BF;
    border-radius: 50%;
    margin: 0 50px;
}